
import(Rcpp)
import(methods)
importFrom(rstan, sampling)
useDynLib(expertsurv, .registration = TRUE)

export(cred_int)
export(fit.models.expert)
export(model.fit.plot)
export(plot_expert_opinion)
import(survHE)
importFrom(magrittr,"%>%")
