import(Rcpp)
import(methods)
importFrom(rstan, sampling)
useDynLib(expertsurv, .registration = TRUE)


import(stats, except=c(filter,lag))
import(dplyr, except = c(intersect, setdiff, setequal, union))
importFrom(utils,getFromNamespace)
importFrom(Rdpack,reprompt)

S3method(plot,expertsurv)
S3method(print,expertsurv)
S3method(summary,expertsurv)
export(cred_int)
export(fit.models.expert)
export(make.surv)
export(model.fit.plot)
export(plot.expertsurv)
export(plot_expert_opinion)
export(print.expertsurv)
export(psa.plot)
export(summary.expertsurv)
import(flexsurv)
import(ggplot2)
import(graphics)

import(tibble)
import(tidyselect)
importFrom(abind,adrop)
importFrom(loo,loo)
importFrom(magrittr,"%>%")
importFrom(scales,hue_pal)
importFrom(stringr,str_replace_all)
import(survival)
